<!DOCTYPE html>
<html>
<head>
  <title>CigarFinderWeb</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application",
    "https://maps.googleapis.com/maps/api/js?key=#{ENV.fetch('GOOGLE_API_KEY')}&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
